<div class="container d-flex justify-content-center align-items-center mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body p-3">
          <h5 class="card-ti">Player Login</h5>
            <form action="/login" method="POST">
              <label> <div>Email
                </div>
               <input type="email" name="email" placeholder="rockstar@ironhack.com" />
              </label>
              <label>Password
                <input type="password" name="password" placeholder="********" />
               </label>
               <button type="submit" class="mt-1">Login</button>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>

{{!-- <div id="form">
  <h2>Login</h2>
 
  <form action="/login" method="POST">
 
    <label> Email
      <input type="email" name="email" placeholder="rockstar@ironhack.com" />
    </label>
 
    <label>Password
      <input type="password" name="password" placeholder="********" />
    </label>
 
    <button type="submit">Login</button>
  </form>
</div> --}}

