<div class="card text-center">
    <div class="card-body p-3">
      <h3 class="card-ti">Create Account</h3>

      <div id="form">

        <form action="/signup" method="POST" class="validated-form" novalidate enctype="multipart/form-data">

          <label>Profile Image
            <input type="file" name="profile-image" />
          </label>

          <label> Username
            <input type="text" name="username" placeholder="ironhacker" />
          </label>

          <label> Email
            <input type="email" name="email" placeholder="rockstar@ironhack.com" />
          </label>

          <label> Favorite Position
            <input type="text" name="position" placeholder="ironhacker" />
          </label>  

          <label> City
            <input type="text" name="city" placeholder="ironhacker" />
          </label>

          <label> State
            <input type="text" name="state" placeholder="ironhacker" />
          </label>

          <label> Password
            <input type="password" name="password" placeholder="********" />
          </label>

          <button type="submit">Create account</button>
          {{!-- error message will be added here --}}
        </form>
      </div>

  </div>