<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://res.cloudinary.com/sebastien-zachary/image/upload/v1657888875/project2-posts/emilio-garcia-AWdCgDDedH0-unsplash_lsadko.jpg"
                class="d-block w-100" alt="...">
        </div>
    </div>
</div>


{{!-- <section class="main">
    <div class="div-container">
        <div class="div-row">
            <div class="col-sm-12 col-md-6">
                <h2>EN LA CANCHA</h2>
                <p>Find the best soccer pitches around!</p>
                <a href="" class="fields">Find Soccer Fields</a>
            </div>
        </div>
    </div>
</section> --}}